.detail{
	height: 150px;
	width: 350px;
	background-color: rgb(100,150,250);
	padding: 25px;
	border-radius: 25px;
	box-shadow: powderblue;
}
a{
	font-size:35px;
	color: ivory;
	text-align: center;
	padding-top:25px;
	padding-left: 25px;
}
.login{
	width:150px;
	height:50px;
	padding:10px;
	border-radius:20px;
	background-color:teal;
}
body{
	background-image: url(img.jpg);
	background-repeat:no-repeat;
	background-position: center ;
	background-attachment: scroll;
	background-size: cover;
	background-blend-mode: lighten;
}
p{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	color:white; 
}
h1{
	font-family: "Lucida Console", Monaco, monospace;
	color:rgb(0,128,128);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}
.content {
  padding: 16px;dow
  position:relative;
}
.top-container {
  background-color: rgb(150,150,150);
  padding: 30px;
  text-align: center;
  border-radius: 50px;
}
.login:hover{
	box-shadow: 5px 5px grey;
}
.appointment{
	width:350px;
	height:50px;
	padding:10px;
	border-radius:20px;
	background-color:teal;
}
.appointment:hover{
	box-shadow: 5px 5px grey;
}