body
	{
	background-image: url(blur-clinic-health.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    }
 h1
 	{
 	color:blue;
 	font-size:60;
 	
 	}
.table
	{
 border-color: white;
	}
input[type=submit]
	{
		width:100%;
		background-color:teal; 
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border:none;
		border-radius: 4px;
		cursor: pointer;

	}

    